body {
    background: -webkit-linear-gradient(left, #3399ff, #6600cc, #3399ff);
  }
  .contenedor {
    width: 500px;
    height: 500px;
    margin: 50px auto;
  }
  .contenedor #base {
    width: 500px;
    height: 500px;
    background-image: url(https://i.pinimg.com/564x/03/e5/c1/03e5c136022b516062db371f1a7ac2fe--clock-faces-arroz.jpg);
    background-size: 100%;
    margin: 50px auto;
    border-radius: 50%;
  }
  #caja-hora {
    position: absolute;
    width: 500px;
    height: 500px;
  }
  #caja-hora #hora {
    width: 20px;
    height: 210px;
    background-color: #000;
    margin: 80px auto;
    border-radius: 20PX 20PX 0 0 ;
  }
  #caja-minuto {
    position: absolute;
    width: 500px;
    height: 500px;
  }
  #caja-minuto #minuto {
    width: 15px;
    height: 250px;
    background-color: #f00;
    margin: 40px auto;
    border-radius: 20PX 20PX 0 0 ;
  }
  #caja-segundo {
    position: absolute;
    width: 500px;
    height: 500px;
  }
  #caja-segundo #segundo {
    width: 10px;
    height: 320px;
    background-color: #00f;
    margin: 10px auto;
    border-radius: 20PX 20PX 0 0 ;
  }
  
  #punto {
    position: relative;
    top: 225px;
    left: 225px;
    width: 50px;
    height: 50px;
    background-color: #00f;
    border-radius: 50%;
  }